<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devmike.leviapps.co.timeddogx" >

    <application>
        <service android:name=".services.TimeOutService" android:exported="false"/>
        <receiver android:name=".receivers.TimeOutReceiver" android:exported="false"/>
    </application>
</manifest>
